@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  text-align: center;
}

.chat-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user {
  text-align: left;
  color: #007bff;
}

.bot {
  text-align: left;
  color: #28a745;
}
